nav{
	background-color: white;
}

.navbar>#username{
	display: inline-block;
}

.error{
	color: red;
}

.alert-message{
	text-decoration: underline;
}

.alert-message>ul{
    padding: 0 15px;
}

#newItemForm{
	margin: 20px auto;
}

#loginPage{
	margin: 200px auto;
	width: 350px;
}

.navbar-light {
	margin: auto;
	background-color: orange;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
	background-color: #A56DF8;
	border-color: #A56DF8;
}

.btn-primary:hover{
	background-color: #C731F5;
}

.container{
	width:  100%;
}