{% extends "main.html" %}

{% block menu %}
<nav class="col-md-4">
	{% include "categories.html" %}
</nav>
{% endblock %}


{% block content %}
<div class="col">
	<h3>{{ item.title }}</h3>
	<p>{{ item.description }}</p>
	{%if 'username' in session %}
		{% if item.user_id == session['user_id'] %}
		<div>
		    <a href="/catalog/{{ category }}/{{ item.title }}/edit">Edit </a>
		    <a href="/catalog/{{ category }}/{{ item.title }}/delete" methods="POST"> Delete</a>
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

