{% extends "main.html" %}
{% block menu %}
<nav class="col-md-4">
	{% include "categories.html" %}
</nav>
{% endblock %}
{% block content %}
<div class="col">
	<div class="card">
		<a href="/newItem">Create new Item</a>
		<h3>
		    {{ category }} Items ({{itemQty}}
		    {% if itemQty > 1 %}
		        items
		    {% else %}
		        item
		    {% endif %})
		</h3>
		{% for i in items %}
		    <a class="itemLink" href="/catalog/{{ category }}/{{i.title}}">{{ i.title }}</a>
		    <br>
		{% endfor %}
	</div>
</div>
{% endblock %}