<head>
    <title>Item Catalog Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function () {
          auth2 = gapi.auth2.init({
            client_id: '871734601252-b0avl7mm1c6sbeobhd2smeprnbjjd7d8.apps.googleusercontent.com',
            scope: 'profile',
            redirecturi: "postmessage",
            callback: "signInCallback",
            cookiepolicy: "single_host_origin",
            approvalprompt: "force"
          });
        });
      }
    </script>
</head>

<body>
    <div id="loginPage" class="card bg-light text-dark">
       <div class="card-header">Please Log in to the Catelog App Account!</div>
       <div class="card-body">
          <button id="signinButton" class="btn btn-primary">Continue with Google Signin</button>
          <br>
          <form action="/" method="POST">
            <div class="form-group">
                <label for="username">Username:</label><br>
                <input type="text" name="username"/>
            </div>
             <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" name="password"/>
            </div>
            <input type="submit" value="Sign in">
          </form>
        </div>
    </div>
    <div id="result"></div>

    <script>
      $('#signinButton').click(function () {
        function signInCallback(authResult) {
          if (authResult['code']) {
            $('#signinButton').attr('style', 'display:none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function (result) {
                if (result) {
                  debugger;
                  $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                  setTimeout(function () {
                    window.location.href = "/";
                  }, 4000);
                } else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            });
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      })
    </script>
</body>