{% extends "main.html" %}
{% block content %}
<h3>Create new Item</h3>
<form action="/newItem" method="post">
    <label for="title">Title:</label>
    <input type ="text" maxlength="20" name="title" placeholder="Item Title">
    <label for="description">Description:</label>
    <input type ="text" maxlength="200" name="description" placeholder="Item Description">
    <label for="cat_id">Category belongs:</label>
    <select name="cat_id">
        <option value="" selected disabled>choose category</option>
        {% for i in categories %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" value="submit">Create</button>
</form>
{% endblock %}